/* --------------------------------
   Responsive utility adjustments
--------------------------------- */

@media (max-width: 1024px) {
    :root {
        --container-width: 960px;
    }
}

@media (max-width: 768px) {
    :root {
        --container-width: 100%;
    }
}

@media (max-width: 640px) {
    html {
        scroll-behavior: auto;
    }
}